body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background-image: url(todo_back.jpg);
    background-size: cover;
    /* background: linear-gradient(black, white); */
    margin: 0;
    padding: 0;
}

.container {
   /* background-image: url("todo_back.jpg"); */
    opacity: 0.7;
    z-index: -1;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

input[type="text"] {
    width: 95%;

    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.delete-button {
    background-color: #FF4136;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #E50000;
}
